@use './setting';
@use './tools';

/*
  En esta capa estarán:
    1. sobreescrituras de estilos
    2. helpers o utilities
    3. pueden usar el flag !important
    4. solo afecta a una pieza del DOM a la vez
    5. especificidad por lo regular alta
*/

::ng-deep .mdc-snackbar {
	&.snackbar-green .mat-mdc-snackbar-surface {
		background: var(--gld-green) !important;
		color: var(--gld-whitelight) !important;
	}
	&.snackbar-red .mat-mdc-snackbar-surface {
		background: var(--gld-red) !important;
		color: var(--gld-whitelight) !important;
	}
}
