@use 'styles';

// .app {
// }

.toolbar {
	&__section {
		max-width: var(--gld-max-width);
		margin-inline: auto;
		width: 100%;
		display: flex;
		align-items: center;

		&__title {
			margin: 0;
			font: 600 var(--gld-font-size--heading-two) / var(--gld-line-height) var(--gld-font--poppins);
			cursor: pointer;
		}
	}

	&__spacer {
		flex: 1 1 auto;
	}
}
