<main class="app">
	<!-- Toolbar -->
	<mat-toolbar class="toolbar">
		<section class="toolbar__section">
			<h1 routerLink="/heroes" class="toolbar__section__title">Heroes</h1>

			<!-- Brand -->
			@defer {
				<section
					tabindex="0"
					class="toolbar__section__brand"
					(click)="navigateToIamgld()"
					(keyup.enter)="navigateToIamgld()"
				>
					<app-image priority src="{{ iamgldFaceImage().src }}" alt="{{ iamgldFaceImage().alt }}" />
					<span>iamgld</span>
				</section>
			}

			<section class="toolbar__section__actions">
				<button mat-button routerLink="/heroes">heroes</button>
				<button mat-button routerLink="/heroes/new">new hero</button>
			</section>
		</section>
	</mat-toolbar>

	<!-- Router Outlet -->
	<app-loader [loading]="loading()" background minHeight="calc(100dvh - 64px)">
		<router-outlet />
	</app-loader>
</main>
